# You can find documentation for all the supported env variables at https://immich.app/docs/install/environment-variables

# Timezone for EXIF Exploration (microservices)
TZ=Europe/Paris

# The location where your uploaded files are stored
UPLOAD_LOCATION=./appData/library
DB_DUMPS=./appData/db_dumps

# The Immich version to use. You can pin this to a specific version like "v1.71.0"
IMMICH_VERSION=release

# Connection secrets for postgres and typesense. You should change these to random passwords
TYPESENSE_API_KEY=changeThisSecretKey!!
DB_PASSWORD=andChangeThisOneToo!!!

# Use with https-portal
#VIRTUAL_HOST=domain.ext

# Networks
BACKEND_NETWORK=immich
FRONTEND_NETWORK=gateway

# The values below this line do not need to be changed
###################################################################################
DB_HOSTNAME=immich_postgres
DB_USERNAME=postgres
DB_DATABASE_NAME=immich

REDIS_HOSTNAME=immich_redis
